.subBordered ***REMOVED***
  margin-bottom: 18px;
  border-bottom: 1px solid #F7F8F8;
***REMOVED***

.subWrapper ***REMOVED***
  position: relative;
  line-height: 18px;
  text-decoration: none;

  > span ***REMOVED***
    text-decoration: none;
    font-family: Lato-Bold;
    font-size: 20px;
    color: #333740;
    letter-spacing: 0;
    transition: color .2s ease;
***REMOVED***

  p ***REMOVED***
    text-decoration: none;
    display: block;
    max-width: calc(100% - 150px);
    margin-top: 18px;
    color: #333740;
    font-size: 14px;
    transition: color .2s ease;
***REMOVED***
***REMOVED***


.underlinedTitle ***REMOVED***
  border-bottom: 3px solid #F0B41E;
***REMOVED***

.link***REMOVED***
  &:hover, &:focus, &:active***REMOVED***
    text-decoration: none;
***REMOVED***

  &:hover***REMOVED***
    > span, p ***REMOVED***
      color: lighten(#333740, 20%);
***REMOVED***
***REMOVED***
***REMOVED***
