.button ***REMOVED***
  height: 26px;
  min-width: 89px !important;
  padding-top: 2px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  border-radius: 2px !important;
  font-size: 13px;
  font-weight: 500 !important;
  cursor: pointer;
***REMOVED***

.cardDescription ***REMOVED***
  height: 54px;
  margin-top: 27px;
  margin-bottom: 9px;
  font-size: 13px;
  font-weight: 400;

  > span:last-child ***REMOVED***
    color: #1C5DE7;
***REMOVED***
  -webkit-font-smoothing: antialiased;
***REMOVED***

.cardFooter ***REMOVED***
  cursor: initial;
  display: flex;
  justify-content: space-between;
  height: 54px;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding: 1.5rem 1.5rem 0 1.5rem;
  background-color: #FAFAFB;

  &>div:first-of-type ***REMOVED***
    margin-top: 3px;
***REMOVED***
***REMOVED***

.cardPrice ***REMOVED***
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  padding-top: 2rem;
  > div:first-child ***REMOVED***
    > i ***REMOVED***
      margin-right: 10px;
***REMOVED***
    color: #5A9E06;
    font-size: 12px;
    font-style: italic;
    line-height: 2.1rem;
***REMOVED***

  > div:last-child ***REMOVED***
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8rem;
***REMOVED***
***REMOVED***

.cardScreenshot ***REMOVED***
  height: 78px;
  border-radius: 2px;
  background-size: cover;
***REMOVED***

.cardTitle ***REMOVED***
  display: flex;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  > div:first-child ***REMOVED***
    margin-right: 14px;
***REMOVED***

  > div:last-child ***REMOVED***
    height: 36px;
    line-height: 36px;
***REMOVED***
***REMOVED***

.frame ***REMOVED***
  width: 70px;
  height: 36px;
  margin: auto 0;
  text-align: center;
  background: #FAFAFB;
  border: 1px solid #F3F3F7;
  border-radius: 3px;
  white-space: nowrap;
  > img ***REMOVED***
    max-height: 36px;
    vertical-align: middle;
***REMOVED***
***REMOVED***

.iconContainer ***REMOVED***
  height: 36px;
  width: 70px;
  margin-right: 14px;
  background: #FAFAFB;
  border: 1px solid #F3F3F7;
  border-radius: 3px;
  text-align: center;
  font-size: 20px;
***REMOVED***


.helper ***REMOVED***
  display: inline-block;
  height: 100%;
  vertical-align: middle;
***REMOVED***

.pluginCard ***REMOVED***

***REMOVED***

.primary ***REMOVED***
  font-weight: 500;
  background: linear-gradient(315deg, #0097F6 0%, #005EEA 100%);
  -webkit-font-smoothing: antialiased;
  color: white;
  &:active ***REMOVED***
   box-shadow: inset 1px 1px 3px rgba(0,0,0,.15);
 ***REMOVED***
***REMOVED***

.ratings ***REMOVED***
  // display: flex;
  // padding-top: 1px;
  // TODO uncomment when ratings
  // > div:last-child ***REMOVED***
  //   padding-top: 4px;
  //   font-size: 12px;
  //   font-style: italic;
  // ***REMOVED***
***REMOVED***

.secondary ***REMOVED***
  border: 1px solid #DFE0E1;
  font-weight: 600;
***REMOVED***

.starsContainer ***REMOVED***
  display: flex;
  margin-right: 10px;
  > div ***REMOVED***
    > i ***REMOVED***
      margin-right: 2px;
***REMOVED***
***REMOVED***
  > div:first-child ***REMOVED***
    color: #EEA348;
***REMOVED***
  > div:last-child ***REMOVED***
    color: #B3B5B9;
***REMOVED***
***REMOVED***

.wrapper ***REMOVED***
  min-height: 320px;
  margin-bottom: 3.9rem;
  padding: 1.2rem 1.5rem;
  padding-bottom: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px #E3E9F3;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
***REMOVED***
