.containerFluid ***REMOVED***
  padding: 18px 30px !important;
  > div:first-child ***REMOVED***
    max-height: 33px;
    margin-bottom: 48px;
***REMOVED***
***REMOVED***

.inputContainer ***REMOVED***
  padding-top: 7px;
  background-color: #fff;
  > div ***REMOVED***
    > div ***REMOVED***
      margin-bottom: 0!important;
***REMOVED***
    > div:nth-child(3) ***REMOVED***
      display: none;
***REMOVED***
    > label ***REMOVED***
      display: none!important;
***REMOVED***
***REMOVED***
***REMOVED***

.wrapper ***REMOVED***
  padding-top: .3rem;
***REMOVED***
