.starsContainer ***REMOVED***
  display: flex;
  margin-right: 10px;
  > div ***REMOVED***
    color: #EEA348;
    > i ***REMOVED***
      margin-right: 2px;
***REMOVED***
***REMOVED***
  > div:last-child ***REMOVED***
    color: #B3B5B9;
***REMOVED***
***REMOVED***
